html {
    font-family: 'Roboto', sans-serif;
    background: #001523;
    color: #fff;
    height: 100%;
}

body {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
}

p,
ul {
    line-height: 1.7;
}

ul {
    list-style: inside;
    padding-left: 0;
}

a {
    color: inherit;
}
