$border-width: var(--border-width-1);

.input {
    background-color: inherit;
    color: inherit;
    border: $border-width solid;

    &:focus {
        outline: none;
        border-color: var(--clickable-focus-border-color);
    }
}

.small {
    padding: calc(var(--spacing-2) - $border-width)
        calc(var(--spacing-3) - $border-width);
    border-radius: var(--border-radius-1);
}

.medium {
    padding: calc(var(--spacing-3) - $border-width)
        calc(var(--spacing-4) - $border-width);
    border-radius: var(--border-radius-1);
}

.large {
    font-size: var(--font-size-md);
    padding: calc(var(--spacing-4) - $border-width)
        calc(var(--spacing-5) - $border-width);
    border-radius: var(--border-radius-2);
}
