.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.textArea {
  height: var(--spacing-10);
}

.button {
  align-self: flex-start;
}
