@import "styles/variables.scss";

.blog {
    a .card {
        color: unset;
        text-decoration: unset;
        border: $transparent solid 1px;
        transition: $transition-duration;
    }

    a .card:hover,
    a .card:active {
        border-color: $secondary;
    }

    .card-body span {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.blog-post {
    .blog-date {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .blog-body {
        line-height: 2;
    }

    .blog-img {
        background-color: $card;
        border-radius: $border-radius;
        margin: 2rem 0;
        overflow: hidden;

        img {
            max-width: 100%;
            display: inline-block;
        }

        small {
            margin: 1rem !important;
            display: inline-block;
        }
    }
}
