@import "styles/variables.scss";

.home {
    min-height: 66vh;

    .profile-pic-container {
        padding: 0;
    }

    .profile-pic {
        width: 100%;
        border-radius: $border-radius;
    }
}
