:root {
  --color-white: #fff;

  --color-gray-950: #141517;
  --color-background-light: #212224;
  --color-primary: #f72f6e;
  --color-secondary: #b5ab9f;

  --font-size-xs: 0.675rem;
  --font-size-sm: 0.9rem;
  --font-size-base: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.132rem;
  --font-size-xl: 2.842rem;
  --font-size-2xl: 3.789rem;
  --font-size-code: 0.925rem;
}
