:root {
  --color-white: #fff;
  --color-black: #000;

  --color-gray-700: #555774;
  --color-gray-800: #212224;
  --color-gray-900: #141517;
  --color-pink-500: #f72f6e;

  --font-size-xs: 0.675rem;
  --font-size-sm: 0.9rem;
  --font-size-base: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.132rem;
  --font-size-xl: 2.842rem;
  --font-size-2xl: 3.789rem;
  --font-size-code: 0.925rem;
}
